<div class="container mt-5">
    <div class="row justify-content-center"></div>
        <div class="col-md-8">
            <div class="card shadow"></div>
                <div class="card-header text-white text-center" style="background-color: #2e3267;">
                    <h2>Crear Curso</h2>
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        <div class="mb-3">
                            <label for="COD_CURSO" class="form-label">Código del Curso</label>
                            <input type="text" id="COD_CURSO" name="COD_CURSO" class="form-control">
                        </div>
                        <div class="mb-3"></div>
                            <label for="NOMBRE_CURSO" class="form-label">Nombre del Curso</label>
                            <input type="text" id="NOMBRE_CURSO" name="NOMBRE_CURSO" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="FECHA_INICIO" class="form-label">Fecha de Inicio</label>
                            <input type="date" id="FECHA_INICIO" name="FECHA_INICIO" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="FECHA_FIN" class="form-label">Fecha de Fin</label>
                            <input type="date" id="FECHA_FIN" name="FECHA_FIN" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="ESTADO" class="form-label">Estado</label>
                            <input type="text" id="ESTADO" name="ESTADO" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="DESCRIPCION_CURSO" class="form-label">Descripción del Curso</label>
                            <input type="text" id="DESCRIPCION_CURSO" name="DESCRIPCION_CURSO" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Crear Curso</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>