<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Elearn - Cursos/Capacitaciones</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css?h=a549af2a81cd9900ee897d8bc9c4b5e9">
    <link rel="stylesheet" href="/assets/css/bs-theme-overrides.css?h=80e742112f38013bb02e83350a3546fe">
    <link rel="stylesheet" href="/assets/css/-Login-form-Page-BS4--Login-form-Page-BS4.css?h=8917ed24363311d6deb0e3de10c0c1d1">
    <link rel="stylesheet" href="/assets/css/Articles-Cards-images.css?h=4f3cfa46e40e236365345fc77963f4b8">
    <link rel="stylesheet" href="/assets/css/Navbar-Right-Links-icons.css?h=befd8a398792e305b7ffd4a176b5b585">
    <link rel="stylesheet" href="/assets/css/Register-form.css?h=1f5f17d0cebc5784b0f6b3d8dcb73ab0">
</head>

<body>
    <!-- Start: Navbar Right Links -->
    <nav class="navbar navbar-expand-md py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-book-fill">
                        <path d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"></path>
                    </svg></span><span>Elearn</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul><a class="btn btn-primary ms-md-2" role="button" href="#">Inicio</a><a class="btn btn-primary ms-md-2" role="button" href="#">Dashboard</a><a class="btn btn-primary ms-md-2" role="button" href="#">Cuenta</a>
            </div>
        </div>
    </nav><!-- End: Navbar Right Links -->
    <!-- Start: Projects Grid --><div class="container py-4 py-xl-5">
    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2>Curso de Finanzas</h2>
            <p class="w-lg-50">Unidades del curso</p>
        </div>
    </div>
    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
        <div class="col">
            <div>
                <img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;"
                    src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" alt="Unidad 1">
                <div class="py-4">
                    <h4>Unidad 1: Fundamentos de Finanzas</h4>
                    <p>Principios básicos, importancia de las finanzas y conceptos esenciales como ingresos y gastos.
                    </p>
                    <button class="btn btn-primary" type="button">Ver más</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div>
                <img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;"
                    src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" alt="Unidad 2">
                <div class="py-4">
                    <h4>Unidad 2: Presupuesto Personal</h4>
                    <p>Creación y gestión de presupuestos para controlar ingresos, gastos y ahorros.</p>
                    <button class="btn btn-primary" type="button">Ver más</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div>
                <img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;"
                    src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" alt="Unidad 3">
                <div class="py-4">
                    <h4>Unidad 3: Introducción a las Inversiones</h4>
                    <p>Conceptos básicos de inversión, tipos de activos y estrategias iniciales para invertir.</p>
                    <button class="btn btn-primary" type="button">Ver más</button>
                </div>
            </div>
        </div>
    </div>
</div><!-- End: Projects Grid -->
    <script src="/assets/bootstrap/js/bootstrap.min.js?h=374d178d651fa0eaf680a1fa7b40c788"></script>
</body>

</html>