<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Elearn - Cursos/Capacitaciones</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css?h=a549af2a81cd9900ee897d8bc9c4b5e9">
    <link rel="stylesheet" href="/assets/css/bs-theme-overrides.css?h=80e742112f38013bb02e83350a3546fe">
    <link rel="stylesheet"
        href="/assets/css/-Login-form-Page-BS4--Login-form-Page-BS4.css?h=8917ed24363311d6deb0e3de10c0c1d1">
    <link rel="stylesheet" href="/assets/css/Articles-Cards-images.css?h=4f3cfa46e40e236365345fc77963f4b8">
    <link rel="stylesheet" href="/assets/css/Multi-step-form.css?h=be9e7e06e450ef7595b9ed7c23ab6a7e">
    <link rel="stylesheet" href="/assets/css/Navbar-Right-Links-icons.css?h=befd8a398792e305b7ffd4a176b5b585">
    <link rel="stylesheet" href="/assets/css/Register-form.css?h=1f5f17d0cebc5784b0f6b3d8dcb73ab0">
</head>

<body>
    <!-- Start: Navbar Right Links -->
    <nav class="navbar navbar-expand-md py-3">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <span
                    class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon">
                    <!-- Icono -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                        viewBox="0 0 16 16" class="bi bi-book-fill">
                        <path
                            d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783">
                        </path>
                    </svg>
                </span>
                <span>Elearn</span>
            </a>

            <!-- Botón Hamburguesa -->
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- AQUÍ usaremos un placeholder que el router.js reemplazará -->
            <div class="collapse navbar-collapse" id="navcol-2">
                {{dynamic_nav}}
            </div>
        </div>
    </nav>
    <!-- End: Navbar Right Links -->




    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Elearn</h2>
                <p class="w-lg-50">Capacitacioens</p>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col">
                <div class="card"><img
                        class="card-img-top w-100 d-block card-img-top w-100 card-img-top w-100 fit-cover"
                        alt="monitor showing Java programming" style="height:200px;"
                        src="/assets/img/g9a124ce5b7a7835f471a7572b7dd18fe09f48d209e768bade848fc9ead0e11c1be514f133cee6c371bb1ba95e50ae73eb6b030042572cf9b64b0919ac9ae27bb_640.jpg?h=6faa2df506cd02273245ea807a4eec4f"
                        width="414" height="200">
                    <div class="card-body p-4">
                        <h4 class="card-title">Curso básico de Excel</h4>
                        <p class="card-text"><br>Aprende las herramientas esenciales de Excel, desde fórmulas básicas
                            hasta la creación de gráficos dinámicos.</p><button class="btn btn-primary"
                            type="button">Más información</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card"><img
                        class="card-img-top w-100 d-block card-img-top w-100 card-img-top w-100 fit-cover"
                        alt="mathematics computation" style="height:200px;"
                        src="/assets/img/photo-1516321497487-e288fb19713f.jpg?h=2783d19dc0f8cc14a7bdd1f58c43eb47">
                    <div class="card-body p-4">
                        <h4 class="card-title">Curso de Marketing</h4>
                        <p class="card-text"><br>Descubre cómo diseñar estrategias efectivas en redes sociales y
                            gestionar campañas publicitarias.<br><br></p><button class="btn btn-primary"
                            type="button"><span style="background-color: rgb(11, 94, 215);">Más
                                información</span></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card"><img
                        class="card-img-top w-100 d-block card-img-top w-100 card-img-top w-100 fit-cover"
                        alt="a black and white photo of a number of calculations" style="height:200px;"
                        src="/assets/img/pexels-photo-159888.jpeg?h=9cf7a27575890ca228e3c61ee2fda255">
                    <div class="card-body p-4">
                        <h4 class="card-title">Curso de Finanzas</h4>
                        <p class="card-text">Aprende a gestionar tus finanzas personales, crear presupuestos y tomar
                            decisiones de inversión inteligentes.<br><br></p><button class="btn btn-primary"
                            type="button">Más informacióm</button>
                        <div class="d-flex"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js?h=374d178d651fa0eaf680a1fa7b40c788"></script>
    <script src="/assets/js/Multi-step-form-script.js?h=9d77f79e2607cd56cca90be479eb60a6"></script>
</body>

</html>