<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Elearn - Cursos/Capacitaciones</title>
    <!-- Hojas de estilo -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Elearn</h2>
                <p class="w-lg-50">Capacitaciones</p>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col">
                <div class="card">
                    <img class="card-img-top w-100 d-block card-img-top w-100 fit-cover"
                        alt="Desarrollador" style="height:200px;"
                        src="/assets/img/g9a124ce5b7a7835f471a7572b7dd18fe09f48d209e768bade848fc9ead0e11c1be514f133cee6c371bb1ba95e50ae73eb6b030042572cf9b64b0919ac9ae27bb_640.jpg?h=6faa2df506cd02273245ea807a4eec4f"
                        width="414" height="200">
                    <div class="card-body p-4">
                        <h4 class="card-title">Curso básico de Excel</h4>
                        <p class="card-text"><br>Aprende las herramientas esenciales de Excel, desde fórmulas básicas
                            hasta la creación de gráficos dinámicos.</p>
                        <button class="btn btn-primary" type="button">Más información</button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img class="card-img-top w-100 d-block card-img-top w-100 fit-cover" alt="Matemáticas"
                        style="height:200px;"
                        src="/assets/img/photo-1516321497487-e288fb19713f.jpg?h=2783d19dc0f8cc14a7bdd1f58c43eb47">
                    <div class="card-body p-4">
                        <h4 class="card-title">Curso de Marketing</h4>
                        <p class="card-text"><br>Descubre cómo diseñar estrategias efectivas en redes sociales y
                            gestionar campañas publicitarias.<br><br></p>
                        <button class="btn btn-primary" type="button">
                            <span style="background-color: rgb(11, 94, 215);">Más información</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img class="card-img-top w-100 d-block card-img-top w-100 fit-cover"
                        alt="Cálculo" style="height:200px;"
                        src="/assets/img/pexels-photo-159888.jpeg?h=9cf7a27575890ca228e3c61ee2fda255">
                    <div class="card-body p-4">
                        <h4 class="card-title">Curso de Finanzas</h4>
                        <p class="card-text">
                            Aprende a gestionar tus finanzas personales, crear presupuestos y tomar
                            decisiones de inversión inteligentes.<br><br>
                        </p>
                        <button class="btn btn-primary" type="button">Más informacióm</button>
                        <div class="d-flex"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts Bootstrap -->
    <script src="/assets/bootstrap/js/bootstrap.min.js?h=374d178d651fa0eaf680a1fa7b40c788"></script>
    <script src="/assets/js/verificar-query-v2.js"></script>
</body>

</html>
<!--

Datos testeo: 
Nombre: asdasd
Email: asdasd@gmail.com
Pw: asdasd@gmail.com

XD
-->