<!DOCTYPE html>
<html lang="es" data-bs-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ELearn - Ingreso</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <!-- CONTENEDOR PRINCIPAL -->
    <div class="container-principal">
        <!-- Sección Izquierda -->
        <div class="left-section">
            <h1>Aprende con <span style="font-size: 1.8em;">ELearn</span></h1>
            <p>Cursos reales con expertos y contenido gratuito.</p>
        </div>

        <!-- Sección Derecha (Formulario de Ingreso) -->
        <div class="right-section">
            <h1>¡Bienvenido!</h1>
            <h2>Ingreso</h2>
            <p>Empieza tus clases al iniciar sesión.</p>

            <!-- Formulario de Login -->
            <form method="post" action="/login">
                <label for="email">Correo</label>
                <input type="email" name="email" id="email" placeholder="Email" required>
                <label for="passwo
rd">Contraseña</label>
                <input type="password" name="password" id="password" placeholder="Contraseña" required>

                <button type="submit">Ingresar</button>
            </form>

            <!-- Enlace a registro -->
            <div class="bottom-text">
                <span>¿No tienes cuenta?</span>
                <a href="/register">Regístrate</a>
            </div>
        </div>
    </div>

    <!-- TOASTS (éxito y error) -->
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 2000;">
        <!-- Toast de ÉXITO -->
        <div id="successToast" class="toast align-items-center text-bg-success border-0 mb-2" role="alert"
            aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    ¡Has iniciado sesión exitosamente!
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>

        <!-- Toast de ERROR -->
        <div id="errorToast" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive"
            aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    ¡Error al iniciar sesión! Revisa tus datos.
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>
    </div>

    <!-- Js -->
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/verificar-query.js"></script>
</body>
</html>