<!DOCTYPE html>
<html lang="es" data-bs-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eLearn - Perfil</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <header>
        <div class="logo">
            elearn logoo
        </div>
        <div class="user-name"> Testeo de user !! </div>
        <nav>
            <ul>
                <li><a href="#">Cursos</a></li>
                <li><a href="#">Menú <span style="font-size: 0.8em;">&#9660;</span></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="left-section">
            <p>Tus cursos</p>
            <div class="course-box">
                <p><strong>Iconmo del curso alt text </strong></p>
                <p>Nombre del curso</p>
                <p>TEXTO ALT DEL NOMBRE DEL CURSO</p>
                <button class="continue-button">Continuar</button>
            </div>
            <button class="mis-cursos-button">Mis Cursos</button>
        </section>

        <section class="right-section">
            <div class="score-box">
                <p>Puntos: <span>0</span></p>
                <p>Respuestas: <span>0</span></p>
            </div>
        </section>
    </main>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>